* {
  box-sizing: border-box;
}

body {
	font-family: Helvetica, sans-serif;
}

h1 {
  	font-size: 175%;
  	margin-bottom: 15px;
  	text-align: center;
}

section {
	background: #CCC;
	float: left;
	border: 1px solid black;
	padding: 35px 15px 15px 15px;
	margin: 5px;
	position: relative;
}
#title {
	font-size: 125%;
	font-weight: 500;
	padding: 4px;
	border-bottom: 1px solid black;
	border-left: 1px solid black;
	position: absolute;
	top: 0;
	right: 0;
}
#s1 > #title {
	background: #EcEcEc;
}
#s2 > #title {
	background: red;
	color: white;
}
#s3 > #title {
	background: lightblue;
}

/********** Large devices only **********/
@media (min-width: 992px) {
  #s1 {
    width: 30%;
  }
  #s2 {
    width: 30%;
  }
  #s3 {
  	width: 30%
  }
  section {
  	margin: 1.5%;
  }
}


/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  #s1 {
    width: 48%;
  }
  #s2 {
    width: 48%;
  }
  #s3 {
  	width: 98%;
  }
  section {
  	margin: 1%;
  }
}
